body {
  height: 100vh;
  width: 100vw;
}
h1 {
  margin-left: 33%;
  font-family: sans-serif;
}

#board {
  height: 400px;
  width: 800px;
  background-color: #3399ff;
  padding: 5px;
}

.cell {
  height: 94px;
  width: 191px;
  background-color: #ffcc33;
  display: inline-block;
  margin: 3px;
}

p {
  margin: 38px;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}