#board {
  height: 400px;
  width: 800px;
  background-color: #3399ff;
  padding: 5px;
}

.cell {
  height: 90px;
  width: 190px;
  background-color: #ffcc33;
  display: inline-block;
  margin: 3px;
}