body {
  margin-left: 21.5%;
  margin-right: auto;
}

h1 {
  margin-left: 33%;
  font-family: sans-serif;
}

#board {
  height: 400px;
  width: 800px;
  background-color: #3399ff;
  padding: 5px;
}

.cell {
  height: 90px;
  width: 190px;
  background-color: #ffcc33;
  display: inline-block;
  margin: 3px;
}

p {
  text-align: center;
}